<div class ="edit_post">
		
		<div class="edit_element">
			<label class="edit_element_label" for="post_title">	Title </label> 
			<input class="edit_element_data" type="text" id="post_title" name="post_title" value="Post title">
		</div>
		
		<div class="edit_element">
			<label class="edit_element_label" for="author">	Author </label> 
			<input type="text" id="author" name="author" value="Gigel Popescu">
		</div>
		
		<div class="edit_element">
			<label class="edit_element_label" for="post_date">	Date </label> 
			<input id="post_date" type=date step=7 min=2014-09-08>
		</div>
		
		<div class="edit_element">
			<label class="edit_element_label">	Description </label> 
			<textarea class="edit_element_data" rows="4" cols="50">The first web browsers had support for text only, limited to a single font in a single color. Later came browsers with support for colors and fonts, and even support for pictures! The first web browsers had support for text only, limited to a single font in a single color. Later came browsers with support for colors and fonts, and even support for pictures! The first web browsers had support for text only, limited to a single font in a single color. 
			</textarea>
		</div>
		
	
		<div class="edit_element_settings">
			
			<input type="checkbox" checked/> 
			<label class="edit_element_label">	Allow Comments </label> 
		</div>
		
		<div class="edit_element_settings">
			
			<input type="checkbox" checked/> 
			<label class="edit_element_label">	Visible </label> 
		</div>
		
		<div class="edit_element_settings">
			<span class="left">
				<button type="button">Save</button>
				<button type="button">Cancel</button>
			</span>
			
			<span class="right">
				<button type="button">Delete</button>
			</span>
		</div>
			
		
	</div>
	
	<div class="comment_section">
		<div class="comments">
			<div class="delete_comment">
				<button type="button">Delete</button>
			</div>
			<div class="comment">
				<p>Ionut:</p>
				<p> FIRST!</p>
			</div>
		
			<hr>
		
			<div class="delete_comment">
				<button type="button">Delete</button>
			</div>
			<div class="comment">
				<p>Vlad:</p>
				<p> The first web browsers had support for text only, limited to a single font in a single color.</p>
			</div>
			
			<hr>
			
			<div class="delete_comment">
				<button type="button">Delete</button>
			</div>
			<div class="comment">
				<p>Rares:</p>
				<p> The first web browsers had support for text only, limited to a single font in a single color.</p>
			</div>
		</div>
		
		<div class="write_comment">
			<div class="comment_area">
				<p> Write Comment: </p>
				<textarea  rows="4" cols="50"> 		</textarea>
				
			</div>
			<label class="comment_area" for="name">	Name: </label> 
			<input type="text" id="name" name="author" value="">
			<button type="button">Send</button>
		</div>
	
	</div>