<div class ="edit_post">
		
	<div class="edit_element">
		<label class="edit_element_label" for="post_title">	Username </label> 
		<input class="profile" type="text" id="username" name="username" value="">
	</div>
	
	<div class="edit_element">
		<label class="edit_element_label" for="author">	Password </label> 
		<input class="profile" type="password" id="password" name="password" value="">
	</div>
	
	<div class="edit_element">
		<label class="edit_element_label" for="name">	Name </label> 
		<input class="profile" type="text" id="name" name="name" value="">
	</div>
	
	<div class="edit_element">
		<label class="edit_element_label" for="email">	Email </label> 
		<input class="profile" type="text" id="email" name="email" value="">
	</div>
	
	
	<div class="edit_element">
		<div class="edit_element_settings">
			<span class="left">
				<button  onclick="addNewUser()" type="button">Save</button>
				<button id="admin_profile_cancel_button" type="button">Cancel</button>
			</span>
			
					
		</div>
	</div>
		
		
</div>