<div class ='post'>

	<h2><a href='single_item.html?id="+blog.id+"'>{{summary}}</a></h2>
	
	<p>	Date: {{postedAt}} </p>
	
	<p>	Author: {{postedBy}}</p>
	
	<p> {{description}}</p>
	
	<p hidden>" + blog.id+ "</p>
	
	<br>
		
	<div class='comment_section'>
		
		<div class='comments_container'>

			<!-- {{	_.each(comments, function(comment){ }}

					<div class='comment'>							
						<div class='avatar'>
							<img src='avatar.jpg' />	
						</div> 	 	

						<div class='comment_text'> 
							<p> {{comment.name}} : </p> 
							<p>{{comment.content}} </p> 	
						</div>					
					</div> 

					<hr>		
			{{ }); }}
 -->
				<div class='comment'>	
					
					<div class='avatar'>	

						<img src='avatar.jpg' />	

					</div> 	 	

					<div class='comment_text'> 

						<p> {{comments[0].name}} : </p> 	

						<p>{{comments[0].content}} </p> 	

					</div>
				
				</div> 

				<hr>			

		</div>

		<div class='write_comment'>

			<div class='comment_area'>   

				<p> Write Comment: </p>  

				<textarea id='comment_textarea' class='comment_textarea' rows='4' cols='50'></textarea> 

			</div> 

			<label class='comment_area'>	Name: </label> 		
			<input id='comment_author' type='text' name='author'> 	
			<button id='send_comment_button' type='button'>Send</button> 

		</div>

	</div>

</div>